/*ABOUT US*/
body{
	font-family: roboto;
}


button.accordion.active, button.accordion:hover {
    background-color: #ccc;
}

button.accordion:after {
    content: '\002B';
    color: #777;
    font-weight: bold;
    float: right;
    margin-left: 5px;
}

button.accordion.active:after {
    content: "\2212";
}

div.panel {
    padding: 0 18px;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}
.james{
	height: 20px;
	background-color: #202A3C;
}
.navbar{
	text-decoration-color: #ffffff;
	background-color: #202A3C;
}
button.accordion{
	font-weight: bold;
	font-style: italic;
	 background-color: #000;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 1s;
}
.list-group{
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
}
a.btn{
	padding-top: 0px;
	padding-bottom: 0px; 
}
a.bee{
	margin-top: 0px;
	padding-bottom: 0px;
	padding-top: 0px;
}
a>span.fa{
	color: #ffffff;
}
a>span.fa-facebook-official:hover{
	
	font-size: 20px;
}
a>span.fa-twitter:hover{
	color: #30C2FF;
	font-size: 20px;
}
a>span.fa-slack:hover{
	color: #A61703;
	font-size: 20px;
}
.txt{
	color: #ffffff
}
footer{
	background-color: #202A3C;
	
	}
footer>img{
	padding-top: 10px;
	margin: auto;
	display: block;
}
.breather{
	height: 90px;
}
.fpara{
	text-align: center;
}
a.fpara{
	color:#30C2FF;
}
a.fpara:hover{
	text-decoration: none;
	font-weight: bold;
	color: #ffffff;

}
/*TEAM*/


/*meetup*/
.jbt{
	width: 100%;
	height: auto;
}
.well {
    position: relative;
}

.jbtxt {
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    text-align: center;
    font-weight: bolder;
    color: #30C2FF;
    text-decoration:underline;
    text-decoration-color: #000000;
    z-index: -1;

}

img.jbt:hover{
	opacity: 0.8;
}
a>div.jbtxt:hover{
	text-decoration-color: #000;
}
a.text-dark:hover{
	font-weight: bolder;
	text-decoration: none;
    color:#202A3C; 

}

.bxmodel{
	position: relative;
	top: 10px;
	left: 50px;
	border: 1px solid black;
	height: 200px;
	width: 200px;
}

.fa-plus{
position: absolute;
top: 50px;
left:45%;
color: grey;
font-weight: bolder;
font-size: 30px;
}
.bxtext{
position: absolute;
top: 120px;
left:20%;
color: grey;
}
a>p.fa-plus:hover{
	color: #000;
}

.nfcs{
	display: block;
	text-align: center;
}
form.form-inline{
	display: inline-block;
	margin-left:auto;
	margin-right: auto;
	text-align: left;
}