/*HOME*/
	 body{
    background-color: #202a3c;
}
	#comm{
	    font-size: 40px;
	    color: white;
	    float: left;
	    padding-left: 50px;
	    padding-top: 150px;
	    margin-bottom: 10px;
	    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	}
	#htpic{
	    padding-left: 700px;

	    padding-top: 50px;
	}
	#you{
	    background-color: white;
	}
	#dmtxt{
	    color: black;
	    text-align: center;
	}
	#ttt{
	    color: black;
	    padding-left: 20px;
	}
	#u{
	    text-align: center;
	    font-size: 30px;
	    color:  #202a3c;
	}
	#hng{
	    opacity: 5px;
	}
	.black{
	    background-color: black;
	    opacity: 0.5;
	    z-index: 1;
	    position: absolute;
	    top: 82px;
	    width: 1365px;
	    height: 500px;
	margin-top: 630px; 
	padding-right: 100px;  
	}
	.btn{
	   margin-left: 100px;
	   margin-top: 800px;   
	}
	.do{
	    z-index: 2;
	    position: absolute;
	    top: 82px;
	    left: 121px;
	    width: 968px;
	    height: 350px;
	    padding: 166px 200px 50px;
	}
	.fin{
	    color: white;
	    font-size: 50px;
	    text-align: center;
	    
	    
	    height: 200px;
	    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	    background-color: black;
	    opacity: 0.5;
	    z-index: 1;
	    position: absolute;
	    top: 82px;
	    width: 1400px;
	   

	padding-right: 100px;
	}




/*ABOUT US*/
body{
	font-family: roboto;
}


button.accordion.active, button.accordion:hover {
    background-color: #30c2ff;
}

button.accordion:after {
    content: '\002B';
    color: #777;
    font-weight: bold;
    float: right;
    margin-left: 5px;
}

button.accordion.active:after {
    content: "\2212";
}

div.panel {
    padding: 0 18px;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}
.james{
	height: 20px;
	background-color: #202A3C
}
.navbar{
	text-decoration-color: #ffffff;
	background-color: #202A3C;
}
button.accordion{
	font-weight: bold;
	font-style: italic;
	 background-color: #202a3c;
    color: #ffffff;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 1s;
}
.list-group{
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
}
a.btn{
	padding-top: 0px;
	padding-bottom: 0px; 
}
a.bee{
	margin-top: 0px;
	padding-bottom: 0px;
	padding-top: 0px;
}
a>span.fa{
	color: #ffffff;
}
a>span.fa-facebook-official:hover{
	
	font-size: 20px;
}
a>span.fa-twitter:hover{
	color: #30C2FF;
	font-size: 20px;
}
a>span.fa-slack:hover{
	color: #000000;
	font-size: 20px;
}
.txt{
	color: #ffffff
}
footer{
	background-color: #202A3C;
	
	}
footer>img{
	padding-top: 10px;
	margin: auto;
	display: block;
}
.breather{
	height: 90px;
}
.fpara{
	text-align: center;
}
a.fpara{
	color:#30C2FF;
}
a.fpara:hover{
	text-decoration: none;
	font-weight: bold;
	color: #ffffff;

}
/*TEAM*/
	.body-title{
		margin-top: 2em;
		margin-bottom: 2em;
	}

/*meetup*/

.jumboImage{
	background-image:  linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url("../img/hngfinal.png");
	background-size: cover;
	height: 450px;
	padding-top: 10em;
}
.find-text{
	font-size: 60px;
}
.nav-row{
	border-bottom: 1px solid #c0c0c0;
	padding-top: 10px;
	padding-bottom: 10px;
	margin-bottom: 2em;
}
.meetup-card{
	height: 250px;
	padding-top: 5em;
	/*padding-bottom: 2em;*/
	margin-top: 3em;
	margin-left: 7em;
	border: 2px solid #000;
}
.icon-fa{
	margin-left: 110px;
	color: #202a3c;
}
.meetup-row{
	border-bottom: 1px solid #c0c0c0;
	padding-bottom: 5em;
	/*font-size: 20px;*/
}
.notify-con{
	padding-top: 3em;
	padding-bottom: 4em;
}
.email-grp{
	margin-left: 21em;
}

/*MEMBERS*/
	.search-btn{
		background-color: #202a3c;
	}
	.member-card{
		height: 250px;
		padding-top: 5em;
		/*padding-bottom: 2em;*/
	/*	margin-top: 3em;
		margin-left: 7em;*/
		border: 2px solid #000;
	}
	.add-mem{
		font-size: 175px;
		color: #202a3c;
		padding-top: 30px;
	}